.WatchNav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

.AppleWatchSeries3 {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

.AppleWatchNike {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

.AppleWatchHermes {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}	

.AppleWatchEdition {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

.AppleWatchSeries1 {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

.WatchOS {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

.Bands {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

.Accessories {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}

.Compare {
	display: inline-block;
	color: white;
	width: 10%;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 300;
}